In [2]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [ ]:
transaction

In [6]:
def add_item(item_name, item_amount, item_price):
    item_name = str(input("Mohon masukkan barang yang ingin dibeli: "))
    item_amount = int(input("Mohon masukkan jumlah barang yang ingin dibeli: "))
    item_price = int(input("Mohon masukkan harga dari barang yang dibeli: "))
    print(tabulate(add_item, headers=["Nama Barang","Jumlah Barang", "Harga Barang"]))

    
add_item()

TypeError: add_item() missing 3 required positional arguments: 'item_name', 'item_amount', and 'item_price'

TypeError: add_item() missing 3 required positional arguments: 'item_name', 'item_amount', and 'item_price'